[lint]
ignore = [
    "ANN001",
    "ANN101",
    "ANN102",
    "ANN201",
    "ANN202",
    "ANN204",
    "ANN206",
    "C901",
    "CPY001",
    "DOC201",
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "D105",
    "D106",
    "D107",
    "D211",
    "D213",
    "E402",
    "E501",
    "EM101",
    "ERA001",
    "F403",
    "F405",
    "FBT002",
    "PLR0912",
    "PLR0913",
    "PLR0914",
    "PLR0915",
    "PLR0917",
    "PLR2004",
    "T201",
    "TID252",
    "TRY003",
    "N802",
    "N999",
]
select = ["ALL"]
